*{
    box-sizing: 0;
    text-decoration: 0;
    padding: 10px;

}
   
.container{
    height: 400px;
    background-image: url(/img/greenbkrnd.jpeg);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
        }
.menu{
    background-color: lch(90.62% 6.8 171.81);
    width: 95%;
    text-align: center;
    justify-self: center;
    align-content: center; 
    height:200px;
    border-radius: 10px;
    border: 3px solid white;
}
.menu li {
    display: inline-flex;
    margin-left: 110px;
}
.menu li a:hover{
    border: 3px solid lab(100% 0.01 -0.01);
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: color 0.3s;
}
.btn{
    display: inline-block;
    padding: 5px 20px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 100px;
    color: #fff;
    text-transform: none;
}
.btn:hover, btn:active{
    background-color: hsl(122, 20%, 66%);
}
.btn-full{
    border: 3px solid #2e5c2e;
    background-color: hsl(192, 66%, 85%);
    color: #333;
}
.content{
    height:1100px;
    width:90%;
    text-align: center;
    align-content: center;
    justify-self: center;
    background-color: hsl(153, 24%, 85%);
    color: #333;
    border: 10px solid white;
    box-shadow: 0 6px 12px rgba(1,1,1,0.1);
    border-radius: 20px;
}
.intro{
    border-bottom: 1px solid #333;
}
  .contact-box {
    background-color: white;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 300px;
    justify-self: center;
  }

  .contact-box h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  .contact-field {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #97b192;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
  }

  button:hover {
    background-color: #0056b3;
  }
.footer{
    height: 100px;
    text-align: center;
    align-content: center;
    background-image: url(img/greenbkrnd.jpeg);
    color:#333;
    border-radius: 10px;
    
}