*{
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    height: 250px;
    width:900px;
    background-image: url(/img/Background.webp);
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: auto;
 
}
.heading{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 3px solid black;
    height:250px;
    width:700px;
 
}
.info {
    height: 300px;
    border-bottom: 3px solid black;
    width: 500px;

}
.info-one{
    height: 250px;
    border-bottom: 3px solid black;
    width: 500px;
}
.indent-two{
    text-indent: 40px;
}
.info-two{
    height: 200px;
    border-bottom: 3px solid black;
    width: 500px;
 
}
.info-three{
    height: 300px;
    border-bottom: 3px solid black;
    width: 500px;
}
.info-four {
    height: 800px;
    border-bottom: 3px solid black;
    width: 500px;
}
.info-five {
    height: 100px;
    border-bottom: 3px solid black;
    width: 500px;
    text-indent: 40px;
}
.indent{
    height: 200px;
    border-bottom: 3px solid black;
    width: 500px;
    text-indent: 40px;
}
.info-seven{
    height: 200px;
    border-bottom: 3px solid black;
    width: 500px;
}
.footer{
    height: 350px;
    text-align: center;
    align-content: center;
    background-image: url(/img/footer.jpg);
   
}